h1{
    text-align: center;
}

.navbar ul{
display: block;
list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2626;
  gap: px;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #c5aa6a;
}
.navbar li{
    float: left;
}

